@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Quicksand:wght@300..700&display=swap');

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  width: 100vw;
  overflow-x: hidden;
}

.jumbotron {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  aspect-ratio: 2.37/1;
  background-image: url("img/jumbotron-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2.9vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  /*background: linear-gradient(91deg, #DAF0FF 5.22%, #B3C3FF 91.04%);*/
  background: #B3C3FF;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  font-size: 8.75rem;
  white-space: nowrap;
  position: absolute;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #2D2D34;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 400;
}

@media (max-width:1399.98px){
  h1 {
    font-size: 10vw;
    transform: none;
  }
}

@media (max-width:424.98px){
  html {
    font-size: 13px;
  }
}
